{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Con Manzanas</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Child Learn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

 
	<style>
	.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}


img {
  width: 75px;
  margin: 7px 5px 5px 5px;
  border-radius: 5px;
}
input[id^="spoiler"]{
display: none;
}
/* Estilo botón clicable */
input[id^="spoiler"] + label {
display: block;
width: 200px;
margin: 0 auto;
padding: 5px 20px;
background: #4ad1e5;
cursor: pointer;
}
/* Estilo botón cuando su INPUT está seleccionado */
input[id^="spoiler"]:checked + label {
color: #333;
background: #ccc;
}
/* Estilo caja SPOILER (inicialmente oculto) */
input[id^="spoiler"] ~ .spoiler {
width: 90%;
height: 0;
overflow: hidden;
opacity: 0;
margin: 10px auto 0;
}
/* Estilo caja SPOILER cuando su INPUT está seleccionado */
input[id^="spoiler"]:checked + label + .spoiler{
height: auto;
opacity: 1;
}
}
.contenedor-boton-compartir{
  right:0;
  bottom:0;
  position:absolute;

 
}
.btn-compartir{
   width:auto ;
  height:40px;
  
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: : 10px;
  background:#de0d1d;
  right: 0;
  bottom:0;
  position:absolute;
  margin-left: :16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
}
.btn-compartir:hover,
.btn-compartir:focus,
.btn-compartir:active,
.btn-compartir.active {
    background-color: #81c200;
    border-color: #b60000;
    color:#FFFFFF;
    text-decoration: none;
}
.btn-compartir.disabled:hover,
.btn-compartir.disabled:focus,
.btn-compartir.disabled:active,
.btn-compartir.disabled.active,
.btn-compartir[disabled]:hover,
.btn-compartir[disabled]:focus,
.btn-compartir[disabled]:active,
.btn-compartir[disabled].active,
fieldset[disabled] .btn-compartir:hover,
fieldset[disabled] .btn-compartir:focus,
fieldset[disabled] .btn-compartir:active,
fieldset[disabled] .btn-compartir.active {
    background-color: #de0d1d;
    border-color: #d10010;
    color:#FFFFFF;
}

	</style>
	<!-- css files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' id="bootstrap-css"/><!-- bootstrap css -->
    <link href="{% static 'vendor/style.css' %} " rel='stylesheet' type='text/css' /><!-- custom css -->
	<link href="{% static 'vendor/css_slider.css' %} " type="text/css" rel="stylesheet" media="all">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //google fonts -->

	<script type="text/javascript">
		


		(function ($) {
	$.fn.countTo = function (options) {
		options = options || {};
		
		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);
			
			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;
			
			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};
			
			$self.data('countTo', data);
			
			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);
			
			// initialize the element with the starting value
			render(value);
			
			function updateTimer() {
				value += increment;
				loopCount++;
				
				render(value);
				
				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}
				
				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;
					
					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}
			
			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};
	
	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};
	
	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });
  
  // start all the timers
  $('.timer').each(count);  
  
  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});



	</script>


	
</head>
<body>
		<div class="row">
    <div class="col-md-3">
     
    </div>
    <div class="col-md-9" style="position: fixed;left:0; bottom: 0 ;z-index:9999">
    	<div class="contenedor-boton-flotante">
    		<a class="btn-flotante" href="https://docs.google.com/forms/d/e/1FAIpQLSd-EvdFhOO1wItWdLsf9uVX0WcE9XEnGwR7YO8Qj9A5LRdOxg/viewform" target="_blank"> 
  				Encuesta
			</a>
    	</div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-3">
     
    </div>
    <div class="col-md-9" style="position: fixed; right:0; bottom: 0 ;z-index:9999">
    	<div class="contenedor-boton-compartir">
    		<button class="btn-compartir" data-toggle="modal" data-target="#exampleModal" > 
  				Compartir
			</button>
    	</div>
        
    </div>
</div>

	<!-- header -->

	
	<div class="container-fluid" style="background: #003366;"id="home">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="/"><img src="{% static 'img/col-3-logo-conManzanas.png'%}" alt=""> Conmanzanas</a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="/">Inicio</a></li>
				<li class=""><a href="/app">Aplicación</a></li>
				
				<!--
				<li class=""><a href="#testi">Testimonials</a></li>
				<li class=""><a href="#team">Teachers</a></li>
				<li class=""><a href="#subscribe">Subscribe</a></li>
			-->
			</ul>
		</nav>
		<!-- //nav -->
	</div>

<!-- banner  menu de categorias-->
<div class="banner" style="background: #01669C;">
	<div class="layer">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 app_banner-text-w3pvt">
					<div class="banner-form-w3 ml-lg-5">

						<div class="padding">
							<!-- banner form -->
							  <form method="POST"  name="form" class="text-center">
							  	{% csrf_token %}
								<h5 class="mb-3">¿Cuál es la cifra que deseas comprender?</h5>
								<div class="form-style-w3ls ">
									<input placeholder="Ingresar Monto" name="monto" type="text" required="Monto requerid" class="form-control">
									<div class="p-3">
									<div class="form-check form-check-inline" >
              							<input class="form-check-input" type="radio" name="categoria" id="inlineRadio1" value="salud" required>
              							<label class="form-check-label" for="inlineRadio1">Salud</label>
            						</div>

                                    <div class="form-check form-check-inline">
                                      	<input class="form-check-input" type="radio" name="categoria" id="inlineRadio2" value="supermercado">
                                      	<label class="form-check-label" for="inlineRadio2">Supermercado</label>
                                    </div>

                                     <div class="form-check form-check-inline">
                                      	<input class="form-check-input" type="radio" name="categoria" id="inlineRadio2" value="educacion">
                                      	<label class="form-check-label" for="inlineRadio2">educacion</label>
                                    </div>

                                     <div class="form-check form-check-inline">
                                      	<input class="form-check-input" type="radio" name="categoria" id="inlineRadio2" value="vivienda">
                                      	<label class="form-check-label" for="inlineRadio2">vivienda</label>
                                    </div>

                                     <div class="form-check form-check-inline">
                                      	<input class="form-check-input" type="radio" name="categoria" id="inlineRadio2" value="transporte">
                                      	<label class="form-check-label" for="inlineRadio2">transporte</label>
                                    </div>

                                     <div class="form-check form-check-inline">
                                      	<input class="form-check-input" type="radio" name="categoria" id="inlineRadio2" value="restaurant y hoteles">
                                      	<label class="form-check-label" for="inlineRadio2">restaurant y hoteles</label>
                                    </div>

                                     <div class="form-check form-check-inline">
                                      	<input class="form-check-input" type="radio" name="categoria" id="inlineRadio2" value="otros">
                                      	<label class="form-check-label" for="inlineRadio2">otros</label>
                                    </div>
									</div>

									<input type="checkbox" id="spoiler1"></input>
									<label for="spoiler1">Más Opciones</label>
									<div class="spoiler">
										<input type="text" placeholder="Ingresar Titulo" class="form-control" name="titulo">

									</div>
									
									<input type="submit" name="" Class="btn btn-primary btn-lg btn-block" value="Calcular">
									
								</div>
							</form>
							<!-- //banner form -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->
<!-- stats section -->
{% if monto > 0 %}
<section id="monto">
	
		<div class="container-fluid bg-light ">
			<div class="row text-center">
				<div class="col-lg-12 col-12">
					<div class="w3layouts_stats_left bg-light ">
                        {% if titulo != '0' %}
						<h1>{{ titulo }}</h1>
                        {%  endif %}

						<div class="stats-icon">
							<span class="fa fa-usd"></span>
						</div>
						<ul class="list-inline">
 							 <li class="list-inline-item count-title ">$</li>
 							 <li class="timer count-title count-number list-inline-item" data-to="{{monto}}" data-speed="5000"></li>
 							 <li>{{num_p}}</li>
						</ul>
						<p ></p>
						
					</div>
				
				</div>
				</div>
		</div>
	</div>
</section>






<div class="container-fluid">
	 <div class="row ">
        <div class="col-12  mx-auto">
        	{% for producto in consulta%}
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-4 mx-auto text-nowrap text-center px-2">
                            <a href="">
                                <img class="d-block mx-auto  img-fluid" src="{% static 'img/iconos/' %}{{producto.producto.img}}">
								<span class="badge badge-pill badge-primary sup small align-top">{{ producto.producto.nomcate}}</span>
                            </a>
                        </div>
                        <div class="col-lg-6 text-center text-lg-left">
                            <h2 class="d-inline">{{ producto.producto.cantidad_veces}} {% if producto.producto.unidad != 'unidad' %} {{ producto.producto.unidad}} {% endif %} {{ producto.producto.nombrebs}}</h2>
                            <h6>{{ producto.producto.fechapub}}</h6>
                            <ul class="list-inline mt-3">



                                <li class="list-inline-item">
                                    <a class="btn btn-primary rounded" href="../../{{ producto.producto.suma_aproximada }}" target="_blank">Conmanzanas</a>

                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-6 mx-auto">
                            <div class="row no-gutters text-center justify-content-end align-items-end">
                                <div class="col-md-12">
                                    <span class="badge badge-pill badge-dark font-weight-normal">Precio Unitario</span>
                                   	 <h4>${{ producto.producto.precio}}</h4>
                                </div>
								<div class="col-md-12">
									<span class="badge badge-pill badge-dark font-weight-normal">Precio Total</span>
								</div>
                                <div class="col-md-12">

                                   <h1 class="d-inline">${{ producto.producto.suma_aproximada }}</h1>
									<a class="btn  badge badge-pill badge-primary sup small align-top" href="{{ producto.producto.fuente }}" target="_blank">
                                        <i class="fa fa-rss align-middle"></i>
                                    </a>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
	</div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Copia este link y compartelo en tus redes sociales</h5>
      </div>
      <div class="modal-body text-center" >

                  <a id="textoACopiar"  href="https://{{ request.get_host }}/historial/{{ historial }}#monto" target="_blank"><code>https://{{ request.get_host }}/historial/{{  historial }}#monto</code>
                  </a>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

             <button id="btnCopiar" class="btn btn-primary">Copiar</button>
        <div id="alerta" class="alert invisible"></div>


      </div>
    </div>
  </div>
</div>
{% endif %}







<!-- copyright -->
<section class="copyright">
	<div class="container py-4">
		<div class="row bottom">
			
			<div class="col-lg-6 copy-right p-0">
				<p class="text-center">© 2019 Conmanznas 
				</p>
			</div>
		</div>
	</div>
</section>
<!-- //copyright -->

<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top"> 
		<span class="fa fa-arrow-up   mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->
<script>
    //Asigno el evento "click" del botón para provoar el copiado
    document.getElementById('btnCopiar').addEventListener('click', copiarAlPortapapeles);

    //Función que lanza el copiado del código
    function copiarAlPortapapeles(ev){
        var codigoACopiar = document.getElementById('textoACopiar');    //Elemento a copiar
        //Debe estar seleccionado en la página para que surta efecto, así que...
        var seleccion = document.createRange(); //Creo una nueva selección vacía
        seleccion.selectNodeContents(codigoACopiar);    //incluyo el nodo en la selección
        //Antes de añadir el intervalo de selección a la selección actual, elimino otros que pudieran existir (sino no funciona en Edge)
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(seleccion);  //Y la añado a lo seleccionado actualmente
        try {
            var res = document.execCommand('copy'); //Intento el copiado
            if (res)
                exito();
            else
                fracaso();

            mostrarAlerta();
        }
        catch(ex) {
            excepcion();
        }
        window.getSelection().removeRange(seleccion);
    }

    //Detectar pegado (se puede hacer para toda la página interceptándolo en el documento o solo en elementos concretos, como es el caso)
    document.getElementById('ParaPegar').addEventListener('paste', interceptarPegado);

    function interceptarPegado(ev) {
        alert('Has pegado el texto:' + ev.clipboardData.getData('text/plain'));
    }

///////
// Auxiliares para mostrar y ocultar mensajes
///////
    var divAlerta = document.getElementById('alerta');

    function exito() {
        divAlerta.innerText = '¡¡Código copiado al portapapeles!!';
        divAlerta.classList.add('alert-success');
    }

    function fracaso() {
        divAlerta.innerText = '¡¡Ha fallado el copiado al portapapeles!!';
        divAlerta.classList.add('alert-warning');
    }

    function excepcion() {
        divAlerta.innerText = 'Se ha producido un error al copiar al portapaples';
        divAlerta.classList.add('alert-danger');
    }

    function mostrarAlerta() {
        divAlerta.classList.remove('invisible');
        divAlerta.classList.add('visible');
        setTimeout(ocultarAlerta, 1500);
    }

    function ocultarAlerta() {
        divAlerta.innerText = '';
        divAlerta.classList.remove('alert-success', 'alert-warning', 'alert-danger', 'visible');
        divAlerta.classList.add('invisible');
    }
</script>
</body>
</html>