{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Con Manzanas</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="conmanzanas" />

    
	<style>
		.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

.tile{
	width: 100%;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
	float:left;
  	transform-style: preserve-3d;
  	margin: 10px 5px;

}

.header{
	border-bottom:1px solid #ebeff2;
	padding:19px 0;
	text-align:center;
	color:#59687f;

	font-size:19px;	
	position:relative;
}

.banner-img {
	text-align:center;
	position:relative;
	padding: 10px;
}

.banner-img img {
	width: 40%;
	border-radius: 5px;
}

.dates{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:20px 0px;
	margin:10px 20px;
	font-size:16px;
	color:#5aadef;
	font-weight:600;	
	overflow:auto;
}
.dates div{
	float:left;
	width:100%;
	text-align:center;
	position:relative;
}
.dates strong,
.stats strong{
	display:block;
	color:#adb8c2;
	font-size:11px;
	font-weight:700;
}
.dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#ebeff2;
}
.stats{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding:15px 0;
	font-size:16px;
	color:#59687f;
	font-weight:600;
	border-radius: 0 0 5px 5px;
}
.stats div{
	border-right:1px solid #ebeff2;
	width: 50%;
	float:left;
	text-align:center
}

.stats div:nth-of-type(3){border:none;}

div.footer {
	text-align: center;
	position: relative;
	margin: 20px 5px;
}

div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

div.footer a.Cbtn-primary{
	background-color: #5AADF2;
	color: #FFF;
}

div.footer a.Cbtn-primary:hover{
	background-color: #7dbef5;
}

div.footer a.Cbtn-danger{
	background-color: #fc5a5a;
	color: #FFF;
}

div.footer a.Cbtn-danger:hover{
	background-color: #fd7676;
}




	</style>
	<!-- css files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' id="bootstrap-css"/><!-- bootstrap css -->
    <link href="{% static 'vendor/style.css' %} " rel='stylesheet' type='text/css' /><!-- custom css -->
	<link href="{% static 'vendor/css_slider.css' %} " type="text/css" rel="stylesheet" media="all">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //google fonts -->

	<script type="text/javascript">
		


		(function ($) {
	$.fn.countTo = function (options) {
		options = options || {};
		
		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);
			
			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;
			
			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};
			
			$self.data('countTo', data);
			
			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);
			
			// initialize the element with the starting value
			render(value);
			
			function updateTimer() {
				value += increment;
				loopCount++;
				
				render(value);
				
				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}
				
				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;
					
					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}
			
			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};
	
	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};
	
	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });
  
  // start all the timers
  $('.timer').each(count);  
  
  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});



	</script>


	
</head>
<body>
	
	<div class="row">
    <div class="col-md-3">
     
    </div>
    <div class="col-md-9" style="position: fixed;left:0; bottom: 0 ;z-index:9999">
    	<div class="contenedor-boton-flotante">
    		<a class="btn-flotante" href="https://docs.google.com/forms/d/e/1FAIpQLSd-EvdFhOO1wItWdLsf9uVX0WcE9XEnGwR7YO8Qj9A5LRdOxg/viewform" target="_blank"> 
  				Encuesta
			</a>
    	</div>
        
    </div>
</div>
	

	
	<div class="container-fluid"  style="background: #003366;">
		<!-- nav -->
		<nav class="py-3 d-lg-flex " style="background: #003366;">
			<div id="logo">
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class="active"><a href="/">Inicio</a></li>
				<li class=""><a href="/app">Aplicación</a></li>
				<li class=""><a href="{% url 'acerca_de'%}">Acerca_de</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>

<!-- //header -->



<!-- banner -->
<div class="banner" id="home" style=" background: #336699;">
	<div class="layer">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 banner-text-w3pvt">
					<!-- banner slider-->
					<div class="csslider infinity" id="slider1">
						<input type="radio" name="slides" checked="checked" id="slides_1" />
						<input type="radio" name="slides" id="slides_2" />
						<input type="radio" name="slides" id="slides_3" />
						<ul class="banner_slide_bg">
							<li>
								<div class="container-fluid">
									<div class="w3ls_banner_txt">
										<div class="row">
											<div class="col-md-4">
												<img src="{% static 'img/col-3-logo-conManzanas.png'%}" class="img-fluid" alt="Responsive image">
											</div>
											<div class="col-md-8">
						
												<h3 class="b-w3ltxt text-capitalize ">Cifras <small class="h3">que oyes en</small></h3>
												<h3 class="b-w3ltxt text-capitalize">Cosas <small class="h3">que conoces.</small></h3>
												<p class="w3ls_pvt-title my-3">Plataforma Web de apoyo a la Educación Cívico-Económica para niñas, niños y público general</p>
												<a href="#mas" class="btn btn-banner my-3">Más</a>
											</div>
										</div>
									</div>
								</div>
							</li>
							
						</ul>
						
					</div>
					<!-- //banner slider-->
				</div>
				<div class="col-lg-5 col-md-8 px-lg-3 px-0">
					<div class="banner-form-w3 ml-lg-5">
						<div class="padding">
							<!-- banner form -->

							  <form method="POST"  name="formulario1" >
							  	{% csrf_token %}
								<h5 class="mb-3">¿Cuál es la cifra que deseas comprender?</h5>
								<div class="form-style-w3ls ">
									<input placeholder="Ingresar Monto" name="monto" type="number" required="Monto requerid" class="form-control">
									<h6 class="mb-3">Categoría</h6>


								<select name="cosa" onchange="cambia()" class="form-control">
									<option value="0">Selecionar
									<option value="1">Salud
									<option value="2">Supermercado
									<option value="3">Educacion
									<option value="4">Vivienda
									<option value="5">Otros
									<option value="6">Transporte
									<option value="7">Restaurant y hoteles
									<option value="8">ciencia y tecnologia
									<option value="9">obras publicas
								</select>

									<select  name="opt" class="form-control">
									<option value="-">-
								</select>


									<input type="submit" name="" Class="btn btn-primary btn-lg btn-block" value="Calcular">
									
								</div>
							</form>
							<!-- //banner form -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- script select on select-->
<script type="text/javascript">
			//1) Definir Las Variables Correspondintes

			var opt_1 = new Array ("Seleccionar Todo Salud", "Medicamento", "Infraestructura salud", "Servicios","Insumos");
			var opt_2 = new Array ("Seleccionar Todo Supermercado","Precio en supermercados");
			var opt_3 = new Array ("Seleccionar Todo Educacion", "Infraestructura educación", "Costo educación");
			var opt_4 = new Array ("Seleccionar Todo Vivienda", "Vivienda y salario", "Articulos para el hogar", "Gastos de vivienda");
			var opt_5 = new Array ("Seleccionar Todo Otros", "Ropa y calazado", "Ocio y deportes", "Recreacion y cultura");
			var opt_6 = new Array ("Seleccionar Todo Transporte", "Transporte y servicio", "Medios de transporte");
			var opt_7 = new Array ("Seleccionar Todo Restaurant y hoteles", "Precio restaurant", "Precio hoteles");
			var opt_8 = new Array("Seleccionar Todo ciencia y tecnologia", "investigacion", "innovacion", "emprendimiento", "formacion personal");
			var opt_9 = new Array("Seleccionar Todos obras publicas", "puentes y caminos", "hospitales y consultorios", "transporte y telecomunicaciones" );


			// 2) crear una funcion que permita ejecutar el cambio dinamico

			function cambia(){
				var cosa;
				//Se toma el vamor de la "cosa seleccionada"
				cosa = document.formulario1.cosa[document.formulario1.cosa.selectedIndex].value;
				//se chequea si la "cosa" esta definida
				if(cosa!=0){
					//selecionamos las cosas Correctas
					mis_opts=eval("opt_" + cosa);
					//se calcula el numero de cosas
					num_opts=mis_opts.length;
					//marco el numero de opt en el select
					document.formulario1.opt.length = num_opts;
					//para cada opt del array, la pongo en el select
					for(i=0; i<num_opts; i++){
						document.formulario1.opt.options[i].value=mis_opts[i];
						document.formulario1.opt.options[i].text=mis_opts[i];
					}
					}else{
						//si no habia ninguna opt seleccionada, elimino las cosas del select
						document.formulario1.opt.length = 1;
						//ponemos un guion en la unica opt que he dejado
						document.formulario1.opt.options[0].value="-";
						document.formulario1.opt.options[0].text="-";
					}
					//hacer un reset de las opts
					document.formulario1.opt.options[0].selected = true;

				}

		</script>
<!-- //script select on select-->
<!-- other services -->
<section class="other_services py-5" id="why">

	<div class="container py-lg-5 py-3">
		<h3 class="heading mb-5">Cifras conocidas</h3>
		<h3 class="heading mb-sm-5 mb-4"></h3>
		<div class="row">
			<div class="col-lg-4 col-md-6" >
				<div class="grid" >
					<img src="{% static 'img/iconos/5000.jpg' %}" alt="" class="img-fluid" />
					<div class="info p-4" style="min-height: 200px;">
						<h4 class="text-center">Billete de cinco mil pesos</h4>
						<a href="app/5000/Billete de cinco mil pesos" Class="btn btn-primary btn-lg btn-block mt-2" target="_blank">Calcular</a>

					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-4">
				<div class="grid">
					<img src="{% static 'img/iconos/10000.jpg' %}" alt="" class="img-fluid" />
					<div class="info p-4" style="min-height: 200px;">
						<h4 class="text-center"> Billete  de  diez  mil  <br> pesos</h4>
						<a href="app/10000/Billete  de  diez  mil pesos" Class="btn btn-primary btn-lg btn-block mt-2" target="_blank">Calcular</a>

					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<div class="grid">
					<img src="{% static 'img/iconos/20000.jpg' %}" alt="" class="img-fluid" />
					<div class="info p-4" style="min-height: 200px;">
						<h4 class="text-center">Billete de veinte mil pesos </h4>
						<a href="app/20000/Billete de veinte mil pesos" Class="btn btn-primary btn-lg btn-block mt-2" target="_blank">Calcular</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //other services -->





<section class="" style=" background: #003366;">
	<div class="container" style="position: relative;">
		<div class="row p-2">
			<div class="col-md-4">
				<img src="{% static 'img/mini-ico-manzanas.png'%}" alt="" class="img-fluid" >

			</div>
			<div class="col-md-4"></div>
			<div class="col-md-4" >
				

			</div>

		</div>
		<h1 class="heading text-white noticias-title ">Noticias</h1>
		<img src="{% static 'img/col-3detalle-manzanas.png'%}" alt="" class="img-fluid historial-img" >
	</div>
	
</section>


<!-- other services -->
<section class="section-stats py-1" >
	<div class="container py-lg-5 py-3">
		<div class="row">
			{% for n in noticias %}
			<div class="col-lg-4 col-md-6 mt-1" s>
				<div class="grid  bg-white " >
					<div class="info p-4" style="min-height: 300px;">
						<div class="row">
							<div class="col-md-4"><img src="{% static 'img/iconos/periodico.png' %}" class="img-fluid " alt=""></div>
							<div class="col-md-8 p-2">
								<h4 class="d-inline">{{n.titulo}}</h4>
									<a class="btn  badge badge-pill badge-primary sup small align-top" href="{{n.link}}" target="_blank">
                                        <i class="fa fa-rss align-middle"></i>
                                    </a>
							</div>



						</div>
						<p class="text-center p-2">{{n.descrip}}</p>
						<h2 class="mt-3 text-center">$ {{n.cifra}}</h2>
						<h4 class="text-center">Pesos chilenos</h4>
						<p class="text-center h6">{{n.fec_moneda}}</p>

						
					</div>
					<div class="p-2">
						<a href="app/{{n.monto}}/{{n.titulo}}" Class="btn btn-primary btn-lg btn-block mt-2" target="_blank" >Calcular</a>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>
<!-- //other services -->

	
	<!-- other services -->
<section class="other_services " style="background: #003366;">
	<div class="container" >
		<h3 class="heading mb-sm-5  text-white p-2 ">Ultimas cifras</h3>
        <div class="row">
        	{% for dato in datos%}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                <div class="tile"  >
                	
                    <div class="wrapper">
                        <div class="header">
                    </div>

                        <div class="banner-img">
                            <img src="{% static 'img/iconos/' %}{{dato.historial.img}}" alt="">
                        </div>

                        <div class="dates">
                            <div class="start">
                                <strong>Monto</strong><h3 class="timer count-title count-number list-inline-item" data-to="{{dato.historial.monto}}"  data-speed="5000"></h3>
                                
                                
                            </div>
                            
                        </div>

                        <div class="stats"  style="min-height: 110px;" >

                            <div>
                                <strong>Categoria</strong><h4>{{dato.historial.categoria}}</h4>
                            </div>

                            <div>
                                <strong>N° Producto</strong> {{dato.historial.cantidad}}
                            </div>

                            

                        </div>

                      

                        <div class="footer" >
                            <a href="{{dato.historial.link}}" class="btn btn-primary btn-lg  " target="_blank">Ver</a>
                        </div>
                    </div>
                </div> 
            </div>

            {% endfor %}


            
        </div>
        <div style="height: 50px;"></div>
    </div>
</section>
<!-- //other services -->


<section class="services py-5"  id="mas">
	<div class="container">
		<h3 class="heading mb-5">¿Cómo funciona el sistema?</h3>
		<div class="row ml-sm-5">
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-img">
							<img src="{% static 'img/computer.png'%}" alt="">
						</div>
						<div class="our-services-text">
							<h4>Obtencíon de datos</h4>
							<p>Algoritmos de WebScrapping capturan y descargan información de productos o bienes públicos.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-img">
							<img src="{% static 'img/database.png'%}" alt="">
						</div>
						<div class="our-services-text">
							<h4>Almacenamos los datos</h4>
							<p>Los datos son procesado y almacenados para utilizarlos posteriormente.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-img">
							<img src="{% static 'img/page.png'%}" alt="">
						</div>
						<div class="our-services-text">
							<h4>Obtención de resultados</h4>
							<p>Se muestran los resultados según la cifra ingresada con promedios de valores reales.</p>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>


<!-- footer -->
<footer>
	<div class="footer-layer py-sm-5 pt-5 pb-3">
		<div class="container py-md-3">
			<div class="footer-grid_section text-center">
				<div class="footer-title mb-3">
					<a href="#"><img src="{% static 'img/col-3-logo-conManzanas.png'%}" alt="">Con Manzanas</a>
				</div>
				<div class="footer-text">
					<p></p>
				</div>

			</div>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- copyright -->
<section class="copyright">


  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3 p-2">

        <!-- Content -->
        <center><h5 class="text-uppercase text-light mb-2">Financiado por:</h5></center>
         <p><center><img src="{% static 'img/vincula.png'%}" style="max-width:100%;width:auto;height:auto;"></center></p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none ">

      <!-- Grid column -->
      <div class=" col-md-4 mb-md-0 mb-3 p-2">

        <!-- Links -->
		  <center><h5 class="text-uppercase text-light mb-2">Facultad:</h5></center>
		   <p><center><img src="{% static 'img/facultading.png'%}" style="max-width:40%;width:auto;height:auto;"></center></p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3 text-center p-2">

        <!-- Links -->
        <h5 class="text-uppercase text-light mb-2">Laboratorio:</h5>

			<hr><p><a href="https://datoslab.cl/"> DataScience</a></p>




      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.gropoz.com"> Gropoz.com</a>
  </div>
</section>
<!-- //copyright -->

<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top"> 
		<span class="fa fa-arrow-up   mb-3" aria-hidden="true"></span>
	</a>
</div>









</body>
</html>